flows_WINCTRL-EKC4Z97.json
[{"id":"41f20409.dadbac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"be5f9cd7.118ca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"73b30cfc.b4b944","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"f865b912.1c6c78","type":"twitter-client","z":0,"name":"","consumer_key":"vIuEsWQWwzvWCDor6SfYzlH4e","consumer_secret":"NYjog1OyfV7nVKKqdsDwuWUSgO0WyoBSwgyoSskxeItNcs7QrN","access_token_key":"1045530821782691840-pAW5h5fGqghjiG1LN2ZgdA0DCh2HHb","access_token_secret":"GCkVUAVUOLBFnWUlt0UqqAz850go7rP07Q6zWAxEGmr6R"},{"id":"f23d8083.4780a","type":"inject","z":"41f20409.dadbac","name":"Inject Payload JSON","topic":"","payload":"{\"folder\":\"/Users/MEGATRONICS LAB/.node-red\", \"ext\":\".js\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":140,"wires":[["a4d868b2.577688"]]},{"id":"a4d868b2.577688","type":"function","z":"41f20409.dadbac","name":"Read folder, output file paths","func":"// Sends a msg with full file path for each file in a given folder ending with given extension\n// PARAMETERS:\n//   msg.payload.folder {string} Folder to look in for files\n//   msg.payload.ext    {string} The file extension to look for\n// ASSUMPTIONS:\n//   Node.JS libraries fs and path have been required in the functionGlobal section of settings.js\n//   Tested using Node.JS v4.4.5 LTS and Node-Red 0.13.4\n// NOTES:\n//   You would almost certainly be better off using one of the \"glob\" modules such as glob-fs, node-glob or glob-all\n\nvar fs = global.get('fs1')\nvar path = global.get('path')\n\n// Give up if fs or path have not been assigned to global context (see assumption 1)\nif ( (typeof fs == 'undefined') || (typeof path == 'undefined') ) {\n    node.error('path')\n    return    \n}\n// And make sure they are functions\nif ( (typeof fs !== 'object') || (typeof path !== 'object') ) {\n    node.error('Either fs or path from global context is not an object & it must be')\n    return    \n}\n\nvar folder = msg.payload.folder || '/home/pi'\nvar extension = msg.payload.ext || '.gpx'\n\n// Make sure the parameters are strings\nif ( (typeof folder !== 'string') || (typeof extension !== 'string') ) {\n    node.error('Either Folder or Ext is not a string, cannot process. Folder: ' + folder + ', Ext: ' + extension, err)\n    return    \n}\n\nfs.readdir(folder, callback)\n\n// readir is ASYNC so don't return msg here as\n// it would be pointless\n\nfunction callback(err, files) {\n    if (err) {\n        node.error('Oops! Folder does not exist: ' + folder, err)\n        return\n    }\n    \n    // Any error in here will crash Node-Red!! So catch them instead\n    try {\n        files\n            .filter( filterOnExtension ) // calls the given callback func for each file, will only pass names where fn returns true\n            .forEach( sendName )\n    } catch (err) {\n        node.error('Ouch! Something went badly wrong processing the files list', err)\n        return\n    }\n}\n\nfunction filterOnExtension(file) {\n    var len = extension.length\n\n    // Returns TRUE only if the file name ends in the given extension\n    return file.substr(0-len) === extension\n}\n\nfunction sendName(file) {\n        msg.payload = path.join(folder, file)\n        node.send( msg )\n}","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["dde0a239.96eba"]]},{"id":"dde0a239.96eba","type":"debug","z":"41f20409.dadbac","name":"","active":true,"console":"false","complete":"true","x":670,"y":140,"wires":[]},{"id":"1984bed2.728311","type":"inject","z":"41f20409.dadbac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["52a075cf.0f8a3c"]]},{"id":"9ad7eb62.369b88","type":"function","z":"41f20409.dadbac","name":"","func":"var T = global.get('t')\nvar twitter = T();\ntwitter.options.consumer_key=msg.consumerkey;\ntwitter.options.consumer_secret=msg.consumersecret;\ntwitter.options.access_token_key=msg.accesstoken;\ntwitter.options.access_token_secret=msg.accesstokensecret;\nmsg.payload=twitter;\nreturn msg;\n//node.send(T.options)","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["ce349cab.b9334"]]},{"id":"ce349cab.b9334","type":"debug","z":"41f20409.dadbac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":240,"wires":[]},{"id":"52a075cf.0f8a3c","type":"function","z":"41f20409.dadbac","name":"","func":"msg.consumerkey=\"vIuEsWQWwzvWCDor6SfYzlH4e\";\nmsg.consumersecret=\"NYjog1OyfV7nVKKqdsDwuWUSgO0WyoBSwgyoSskxeItNcs7QrN\";\nmsg.accesstoken=\"1045530821782691840-pAW5h5fGqghjiG1LN2ZgdA0DCh2HHb\";\nmsg.accesstokensecret=\"GCkVUAVUOLBFnWUlt0UqqAz850go7rP07Q6zWAxEGmr6R\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["9ad7eb62.369b88"]]},{"id":"143d4815.387ce8","type":"inject","z":"41f20409.dadbac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["9a7f461e.52dff8"]]},{"id":"9a7f461e.52dff8","type":"function","z":"41f20409.dadbac","name":"","func":"msg.payload=\"anam\"\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[[]]},{"id":"63012f4b.9cfdb","type":"function","z":0,"name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[[]]},{"id":"e8d7be18.c1636","type":"template","z":0,"name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":460,"y":260,"wires":[[]]},{"id":"8517271b.46c738","type":"template","z":0,"name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":260,"y":340,"wires":[[]]},{"id":"3ed5b9bd.d62e76","type":"inject","z":"41f20409.dadbac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["c4df277f.202588","3169783.c6e6888","5f6bc5b5.4fef3c"]]},{"id":"c4df277f.202588","type":"debug","z":"41f20409.dadbac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":440,"wires":[]},{"id":"3169783.c6e6888","type":"delay","z":"41f20409.dadbac","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":380,"wires":[["a00fd123.c77ce"]]},{"id":"a00fd123.c77ce","type":"trigger","z":"41f20409.dadbac","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":680,"y":400,"wires":[[]]},{"id":"5f6bc5b5.4fef3c","type":"debug","z":"41f20409.dadbac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":560,"wires":[]},{"id":"5cb19e3e.728ee","type":"inject","z":"be5f9cd7.118ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["b815eb38.5d33b8","d808923.c2e4f7"]]},{"id":"b815eb38.5d33b8","type":"debug","z":"be5f9cd7.118ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":120,"wires":[]},{"id":"d808923.c2e4f7","type":"debug","z":"be5f9cd7.118ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":200,"wires":[]}]