flows_WINCTRL-EKC4Z97.json
[{"id":"6894d538.0b4e9c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc9ca8b3.484668","type":"inject","z":"6894d538.0b4e9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[[]]},{"id":"63012f4b.9cfdb","type":"function","z":"6894d538.0b4e9c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[[]]},{"id":"e8d7be18.c1636","type":"template","z":"6894d538.0b4e9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":460,"y":260,"wires":[[]]}]